/*content div*/
body {
    font-size: x-large;
}
.contentDiv {
    height: 92vh;
    background: #ffc107bf;
    background: linear-gradient(190deg, rgba(255, 193, 7, 0.749) 0%, rgba(18,18,18,1) 69%, rgba(24,24,24,1) 100%);
}
/*navbar*/
#first {
    background-color: black;
    font-size: 2vh;
}
#logo {
    width: 10vw;
}
#nav-1 .nav-link,
#nav-2 .nav-link,
#nav-4 .nav-link {
    color: white;
}
#nav-3 .nav-link {
    color: grey;
}
#nav-3 .nav-link:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.206);
}
#nav-1 .nav-link:hover,
#nav-2 .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.206);
    color: white;
}