//import bootstrap
@import "assets/bootstrap-5.2.3/scss/bootstrap";
// variabili globali
$bg-terziario: #2d2d2d;
$bg-gradient-terziario: linear-gradient(
  180deg,
  rgba(24, 24, 24, 1) 0%,
  rgba(20, 20, 20, 1) 50%,
  rgba(24, 24, 24, 1) 100%
);
$bg-gradient-quarto: linear-gradient(36deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 1) 29%, rgba(32, 32, 32, 1) 100%);
$color-gray: #6a6a6a;
$success2: #1ed760;
$color-black: black;
// --------------------------classi create------------------------
.btn-success2 {
  background-color: $success2;
}

.bg-black {
  background-color: $color-black;
}

//----------------------classi applicate----------------------------

main {
  background: linear-gradient(190deg, rgba(33, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 69%, rgba(24, 24, 24, 1) 100%);
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  .canzoneOra {
    background: $bg-gradient-quarto;
    .nomeCanzone {
      font-size: 50px;
    }
    div {
      .btn {
        color: $color-gray;
      }
    }
  }
  div {
    .consigliati {
      div {
        .row {
          background-color: $bg-terziario;
          @media screen and (min-width: 0px) and (max-width: 768px) {
            background-color: #131313;
          }
        }
      }
    }
  }
  .piace {
    .row {
      .card {
        background: $bg-gradient-terziario;
      }
    }
  }
}

.dropdown-toggle {
  &::after {
    color: #00000000;
  }
}
